<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td></td>
        <td>
          <table>
            <tr>
              <td>
                <h2>CodeChallenge Account Information</h2>

                <p>Username: <%= @user.username %></p>
                <p>Password: <%= @user.plain_text_pass %></p>
                <p>Click <a href="http://localhost:3000/login">here</a> to login to the CodeChallenge</p>
                
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
