<h3>Import Password File</h3>
<div class="well col-sm-6">
<%= form_tag import_passwords_path, multipart: true do %>
<%= file_field_tag :input %>
<p></p>
<%= submit_tag("Import File", :class=>"btn btn-primary btn-sm")  %>
<% end %>
</div>
</div>
