<table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">Password</th>
      <th scope="row"></th>
      <th scope="row"></th>
    </tr>
  </thead>
  <tbody>
    <% @passwords.each do |password| %>
      <tr>
        <td>
            < <%= password.name %> >
            <% if password.val_password == true %>
                is acceptable.
            <% else %>
                is not acceptable.
            <% end %>
        </td>
        <td><%= link_to 'Edit', edit_password_path(password)%></td>
        <td><%= link_to 'Delete', password, method: :delete%></td>
      </tr>

    <% end %>
  </tbody>
</table>
