<div class="main">
<p id="notice"><%= notice %></p>

  <h1>IntelPass Password Validation</h1>
  <%= link_to 'Render Table', '#', id: "table-link" %>


<div>
    <p><%= render 'import' %></p>
</div>

<div id='password'>
    <p><%= render 'table' %></p>
</div>

</div>
